@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}
body{
  background-color: #0c1c33;
  background-image: radial-gradient(
      white,
      rgba(255, 255, 255, 0) 2px,
      transparent 40px
    ),
    radial-gradient(white, rgba(255, 255, 255, 0) 1px, transparent 30px),
    radial-gradient(white, rgba(255, 255, 255, 0) 2px, transparent 40px),
    radial-gradient(white, rgba(255, 255, 255, 0) 2px, transparent 30px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}